<footer class="site-footer">

  {% if page.url == "/" %}
  {% elsif page.url == "/about" %}
  {% endif %}

  

  <div class="wrapper large">
    <a href="#top">&uarr; Top</a></br>
    </br>
    <h2 class="h1 mb0">Connect & Follow</h2>
    <div>Instagram: <a href="https://www.instagram.com/joshm.de/" target="_blank">@joshm.de</a></div>
    <div>Email: <A class="email" HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%6A%6F%73%68%75%61%6D%65%69%73%73%6E%65%72%2E%64%65">hello@joshuameissner.de</A></div>
  </div>

  <ul class="list-reset mt4 mb4">
    <li class="inline-block">&copy; 2023 Joshua Meissner</li> 
    <li class="inline-block"><a class="imprint" href="/imprint">Imprint & Data Protection</a></li> 
  </ul>

</footer>
